<footer class="section-blue text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="/img/logo.png" alt="Make-A-Wish" height="60" class="mb-3">
        <p>Granting life-changing wishes for children with critical illnesses.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/about" class="text-white">About Us</a></li>
          <li><a href="/stories" class="text-white">Wish Stories</a></li>
          <li><a href="/donate" class="text-white">Donate</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <p>© 2025 Make-A-Wish.org – All rights reserved.<br>
        Make-A-Wish is an independent 501(c)(3) nonprofit organization.</p>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>